---
---
<!DOCTYPE html>
<html>
<head>
  <meta charset='UTF-8'/>
  <title>Paul Nendick &middot; Github</title>
  <link rel='shortcut icon' href='{{site.baseurl}}/assets/images/favicon.ico' type='image/x-icon' />
  <link rel='stylesheet' href='{{site.baseurl}}/fonts/open-sans.css'>
  <link rel='stylesheet' href='{{site.baseurl}}/app.css'>
</head>
<body>
  <div id='container'>
    <div id="header">
      <div class="navigation">
        <img class="title" src="http://www.gravatar.com/avatar/3ddf9d795f5ac71cb2c835dec458b5ac.png" >
	<a href="{{site.baseurl}}" class="title">Paul Nendick &middot; Tech Docs </a>
	</div>
    </div>

    <div id='main'>
      {{ content }}
    </div>
  </div>

  <div id='footer'>
    <div class="footer-content">
       site template derived from <a href="http://github.com/prose/bootstrap">Development Seed</a> for use with their <a href="http://prose.io">excellent prose.io</a>
    </div>
  </div>
</body>
</html>
